@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    flex-wrap: wrap;
    width: 300px;
    background: #4fc3f7;
}
.video-title {
    display: inline;
    text-align: start;
    font-size: 20px;
    height: 25px;
    overflow: auto;
    font-family: 'Boogaloo', cursive;
}
.league-container {
    display: flex;
    flex-wrap: wrap;
}
.league-title{
    display: inline;
    font-size: 20px;
    margin: 0 auto;
    height: 25px;
    overflow: auto;
}
.game-date{
    display: flex;
    font-size: 12px;
    margin: 0 auto;
}
.game-video{
    background-color: rgba(2, 221, 250, 0.781);
    height: 230px;
}
.break {
    background-color: whitesmoke;
    padding: 10px;
}

