.header-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 117, 5);
    color: white;
    opacity: .8;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%
}
h1 {
    font-size: 30px;
    margin: 5px;
}
.link-container {
    display: flex;
    flex-direction: row;
}
.home-link {
    display: flex;
    padding: 0 30px;
    color: rgba(247, 172, 35, 0.815);
    font-size: 20px;
}
.news-link {
    color: rgba(35, 247, 229, 0.815);
    font-size: 20px;
}