@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #000a12;
    color: white;
    opacity: .8;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%
}
h1 {
    font-size: 30px;
    margin: 5px;
    font-family: 'Saira Stencil One', cursive;
}
.link-container {
    display: flex;
    flex-direction: row;
}
.home-link {
    display: flex;
    padding: 0 30px;
    color: whitesmoke;
    font-size: 20px;
}
.news-link {
    color: whitesmoke;
    font-size: 20px;
}