@import url('https://fonts.googleapis.com/css?family=Kalam:700&display=swap');
 
 .news-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 90px 10px 5px 10px;
}
.news-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    background-color: #ffa726;
    width: 300px;
    margin: 0 auto;
    /* padding: 5px 0 0 0; */
}
.title-container {
    height: 65px;
    margin: 5px 0;
}
.news-title {
    display: inline;
    text-align: start;
}
/* .source {
} */
img {
    width: 300px;
    height: 150px;
}

article {
    background-color: #ffd95b;
    font-family: 'Kalam', cursive;
}
.break {
    background-color: whitesmoke;
    padding: 10px;
}
button {
    background-color: #ffa726;
    height: 30px;
    font-size: 15px;
}